@use 'sass:math';
@use 'sass:list';
@use 'sass:color';
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/overlay' as overlay;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/button' as button;

.p-overlaypanel {
    background: overlay.$overlayContentBg;
    color: panel.$panelContentTextColor;
    border: overlay.$overlayContentBorder;
    border-radius: general.$borderRadius;
    box-shadow: overlay.$overlayContainerShadow;

    .p-overlaypanel-content {
        padding: panel.$panelContentPadding;
    }

    .p-overlaypanel-close {
        background: button.$buttonBg;
        color: button.$buttonTextColor;
        width: general.$actionIconWidth;
        height: general.$actionIconHeight;
        transition: general.$actionIconTransition;
        border-radius: general.$actionIconBorderRadius;
        position: absolute;
        top: math.div(-1 * general.$actionIconWidth, 2);
        right: math.div(-1 * general.$actionIconWidth, 2);

        &:enabled:hover {
            background: button.$buttonHoverBg;
            color: button.$buttonTextHoverColor;
        }
    }

    &:after {
        border: solid transparent;
        border-color: rgba(overlay.$overlayContentBg, 0);
        border-bottom-color: overlay.$overlayContentBg;
    }

    &:before {
        border: solid transparent;

        @if (list.nth(overlay.$overlayContentBorder, 2) == 'none') {
            border-color: rgba(overlay.$overlayContentBg, 0);
            border-bottom-color: color.scale(overlay.$overlayContentBg, $lightness: -5%);
        }
        @else {
            border-color: rgba(list.nth(overlay.$overlayContentBorder, 3), 0);
            border-bottom-color: color.scale(list.nth(overlay.$overlayContentBorder, 3), $lightness: -5%);
        }
    }

    &.p-overlaypanel-flipped {
        &:after {
            border-top-color: overlay.$overlayContentBg;
        }

        &:before {
            @if (list.nth(overlay.$overlayContentBorder, 2) == 'none') {
                border-top-color: overlay.$overlayContentBg;
            }
            @else {
                border-top-color: list.nth(overlay.$overlayContentBorder, 3);
            }
        }
    }
}
