@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/overlay' as overlay;
@use '../../../theme-light/red/variables/form' as form;

.p-tooltip {
    .p-tooltip-text {
        background: overlay.$tooltipBg;
        color: overlay.$tooltipTextColor;
        padding: overlay.$tooltipPadding;
        box-shadow: form.$inputOverlayShadow;
        border-radius: general.$borderRadius;
    }

    &.p-tooltip-right {
        .p-tooltip-arrow {
            border-right-color: overlay.$tooltipBg;
        }
    }

    &.p-tooltip-left {
        .p-tooltip-arrow {
            border-left-color: overlay.$tooltipBg;
        }
    }

    &.p-tooltip-top {
        .p-tooltip-arrow {
            border-top-color: overlay.$tooltipBg;
        }
    }

    &.p-tooltip-bottom {
        .p-tooltip-arrow {
            border-bottom-color: overlay.$tooltipBg;
        }
    }
}
