@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/data' as data;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

.p-datatable {
    .p-paginator-top {
        border-width: data.$tableTopPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-paginator-bottom {
        border-width: data.$tableBottomPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-datatable-header {
        background: data.$tableHeaderBg;
        color: data.$tableHeaderTextColor;
        border: data.$tableHeaderBorder;
        border-width: data.$tableHeaderBorderWidth;
        padding: data.$tableHeaderPadding;
        font-weight: data.$tableHeaderFontWeight;
    }

    .p-datatable-footer {
        background: data.$tableFooterBg;
        color: data.$tableFooterTextColor;
        border: data.$tableFooterBorder;
        border-width: data.$tableFooterBorderWidth;
        padding: data.$tableFooterPadding;
        font-weight: data.$tableFooterFontWeight;
    }

    .p-datatable-thead > tr > th {
        text-align: data.$tableCellContentAlignment;
        padding: data.$tableHeaderCellPadding;
        border: data.$tableHeaderCellBorder;
        border-width: data.$tableHeaderCellBorderWidth;
        font-weight: data.$tableHeaderCellFontWeight;
        color: data.$tableHeaderCellTextColor;
        background: data.$tableHeaderCellBg;
        transition: general.$listItemTransition;
    }

    .p-datatable-tfoot > tr > td {
        text-align: data.$tableCellContentAlignment;
        padding: data.$tableFooterCellPadding;
        border: data.$tableFooterCellBorder;
        border-width: data.$tableFooterCellBorderWidth;
        font-weight: data.$tableFooterCellFontWeight;
        color: data.$tableFooterCellTextColor;
        background: data.$tableFooterCellBg;
    }

    .p-sortable-column {
        .p-sortable-column-icon {
            color: data.$tableHeaderCellIconColor;
            margin-left: general.$inlineSpacing;
        }

        .p-sortable-column-badge {
            border-radius: 50%;
            height: data.$tableSortableColumnBadgeSize;
            min-width: data.$tableSortableColumnBadgeSize;
            line-height: data.$tableSortableColumnBadgeSize;
            color: general.$highlightTextColor;
            background: general.$highlightBg;
            margin-left: general.$inlineSpacing;
        }

        &:not(.p-highlight):not(.p-sortable-disabled):hover {
            background: data.$tableHeaderCellHoverBg;
            color: data.$tableHeaderCellTextHoverColor;

            .p-sortable-column-icon {
                color: data.$tableHeaderCellIconHoverColor;
            }
        }

        &.p-highlight {
            background: data.$tableHeaderCellHighlightBg;
            color: data.$tableHeaderCellHighlightTextColor;

            .p-sortable-column-icon {
                color: data.$tableHeaderCellHighlightTextColor;
            }

            &:not(.p-sortable-disabled):hover {
                background: data.$tableHeaderCellHighlightHoverBg;
                color: data.$tableHeaderCellHighlightTextColor;
    
                .p-sortable-column-icon {
                    color: data.$tableHeaderCellHighlightTextColor;
                }
            }
        }

        &:focus-visible {
            box-shadow: form.$inputListItemFocusShadow;
            outline: 0 none;
        }
    }

    .p-datatable-tbody {
        > tr {
            background: data.$tableBodyRowBg;
            color: data.$tableBodyRowTextColor;
            transition: general.$listItemTransition;

            > td {
                text-align: data.$tableCellContentAlignment;
                border: data.$tableBodyCellBorder;
                border-width: data.$tableBodyCellBorderWidth;
                padding: data.$tableBodyCellPadding;

                .p-row-toggler,
                .p-row-editor-init,
                .p-row-editor-save,
                .p-row-editor-cancel {
                    @include mixins.action-icon();
                }

                .p-row-editor-save {
                    margin-right: general.$inlineSpacing;
                }

                > .p-column-title {
                    font-weight: data.$tableHeaderCellFontWeight;
                }

                &.p-highlight {
                    background: general.$highlightBg;
                    color: general.$highlightTextColor;
                }
            }

            &.p-highlight {
                background: general.$highlightBg;
                color: general.$highlightTextColor;
            }

            &.p-highlight-contextmenu {
                outline: 0.15rem solid general.$focusOutlineColor;
                outline-offset: -0.15rem;
            }

            &.p-datatable-dragpoint-top > td {
                box-shadow: inset 0 2px 0 0 general.$highlightBg;
            }

            &.p-datatable-dragpoint-bottom > td {
                box-shadow: inset 0 -2px 0 0 general.$highlightBg;
            }
        }
    }

    &.p-datatable-selectable {
        .p-datatable-tbody > tr.p-selectable-row {
            &:not(.p-highlight):not(.p-datatable-emptymessage):hover {
                background: data.$tableBodyRowHoverBg;
                color: data.$tableBodyRowTextHoverColor;
            }

            &:focus-visible {
                outline: .15rem solid general.$focusOutlineColor;
                outline-offset: -.15rem;
            }
        }
    }

    &.p-datatable-selectable-cell {
        .p-datatable-tbody > tr.p-selectable-row {
            & > td.p-selectable-cell {
                &:not(.p-highlight):hover {
                    background: data.$tableBodyRowHoverBg;
                    color: data.$tableBodyRowTextHoverColor;
                }

                &:focus-visible {
                    outline: .15rem solid general.$focusOutlineColor;
                    outline-offset: -.15rem;
                }
            }
        }
    }

    &.p-datatable-hoverable-rows {
        .p-datatable-tbody > tr:not(.p-highlight):not(.p-datatable-emptymessage):hover {
            background: data.$tableBodyRowHoverBg;
            color: data.$tableBodyRowTextHoverColor;
        }
    }

    .p-column-resizer-helper {
        background: data.$tableResizerHelperBg;
    }

    .p-datatable-scrollable-header,
    .p-datatable-scrollable-footer {
        background: panel.$panelHeaderBg;
    }

    &.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table,
    &.p-datatable-scrollable > .p-datatable-wrapper > .p-virtualscroller > .p-datatable-table {
        > .p-datatable-thead,
        > .p-datatable-tfoot {
            background-color: data.$tableHeaderCellBg;
        }
    }

    .p-datatable-loading-icon {
        font-size: general.$loadingIconFontSize;
        &.p-icon {
            width: general.$loadingIconFontSize;
            height: general.$loadingIconFontSize;
        }
    }

    &.p-datatable-gridlines {
        .p-datatable-header {
            border-width: 1px 1px 0 1px;
        }

        .p-datatable-footer {
            border-width: 0 1px 1px 1px;
        }

        .p-paginator-top {
            border-width: 0 1px 0 1px;
        }

        .p-paginator-bottom {
            border-width: 0 1px 1px 1px;
        }

        .p-datatable-thead {
            > tr {
                > th {
                    border-width: 1px 0 1px 1px;

                    &:last-child {
                        border-width: 1px;
                    }
                }
            }
        }

        .p-datatable-tbody {
            > tr {
                > td {
                    border-width: 1px 0 0 1px;

                    &:last-child {
                        border-width: 1px 1px 0 1px;
                    }
                }

                &:last-child {
                    > td {
                        border-width: 1px 0 1px 1px;

                        &:last-child {
                            border-width: 1px;
                        }
                    }
                }
            }
        }

        .p-datatable-tfoot {
            > tr {
                > td {
                    border-width: 1px 0 1px 1px;

                    &:last-child {
                        border-width: 1px 1px 1px 1px;
                    }
                }
            }
        }

        .p-datatable-thead + .p-datatable-tfoot {
            > tr {
                > td {
                    border-width: 0 0 1px 1px;

                    &:last-child {
                        border-width: 0 1px 1px 1px;
                    }
                }
            }
        }

        &:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody {
            > tr {
                > td {
                    border-width: 0 0 1px 1px;

                    &:last-child {
                        border-width: 0 1px 1px 1px;
                    }
                }
            }
        }

        &:has(.p-datatable-tbody):has(.p-datatable-tfoot) .p-datatable-tbody {
            > tr {
                &:last-child {
                    > td {
                        border-width: 0 0 0 1px;

                        &:last-child {
                            border-width: 0 1px 0 1px;
                        }
                    }
                }
            }
        }
    }

    &.p-datatable-striped {
        .p-datatable-tbody {
            > tr.p-row-odd {
                background: data.$tableBodyRowEvenBg;
    
                &.p-highlight {
                    background: general.$highlightBg;
                    color: general.$highlightTextColor;
    
                    .p-row-toggler {
                        color: general.$highlightTextColor;
    
                        &:hover {
                            color: general.$highlightTextColor;
                        }
                    }
                }

                & + .p-row-expanded {
                    background: data.$tableBodyRowEvenBg;
                }
            }
        }
    }

    &.p-datatable-sm {
        .p-datatable-header {
            @include mixins.scaledPadding(data.$tableHeaderPadding, data.$tableScaleSM);
        }

        .p-datatable-thead > tr > th {
            @include mixins.scaledPadding(data.$tableHeaderCellPadding, data.$tableScaleSM);
        }

        .p-datatable-tbody > tr > td {
            @include mixins.scaledPadding(data.$tableBodyCellPadding, data.$tableScaleSM);
        }

        .p-datatable-tfoot > tr > td {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleSM);
        }

        .p-datatable-footer {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleSM);
        }
    }

    &.p-datatable-lg {
        .p-datatable-header {
            @include mixins.scaledPadding(data.$tableHeaderPadding, data.$tableScaleLG);
        }

        .p-datatable-thead > tr > th {
            @include mixins.scaledPadding(data.$tableHeaderCellPadding, data.$tableScaleLG);
        }

        .p-datatable-tbody > tr > td {
            @include mixins.scaledPadding(data.$tableBodyCellPadding, data.$tableScaleLG);
        }

        .p-datatable-tfoot > tr > td {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleLG);
        }

        .p-datatable-footer {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleLG);
        }
    }
}

.p-datatable-drag-selection-helper {
    background: data.$tableDragHelperBg;
}