@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/data' as data;
@use '../../mixins' as mixins;
@use 'sass:list';
@use 'sass:color';

// core
.p-tree-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}

.p-treenode-children {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.p-treenode-selectable {
	cursor: pointer;
	user-select: none;
}

.p-tree-toggler {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	flex-shrink: 0;
}

.p-treenode-leaf > .p-treenode-content .p-tree-toggler {
	visibility: hidden;
}

.p-treenode-content {
	display: flex;
	align-items: center;
}

.p-tree-filter {
	width: 100%;
}

.p-tree-filter-container {
	position: relative;
	display: block;
	width: 100%;
}

.p-tree-filter-icon {
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
}

.p-tree-loading {
	position: relative;
	min-height: 4rem;
}

.p-tree .p-tree-loading-overlay {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

// TODO: Should be removed after implementing the new scrollable prop to Tree
// .p-tree-flex-scrollable {
//     display: flex;
//     flex: 1;
//     height: 100%;
//     flex-direction: column;
// }

// .p-tree-flex-scrollable .p-tree-wrapper {
//     flex: 1;
// }

// theme
.p-tree {
	border: panel.$panelContentBorder;
	background: panel.$panelContentBg;
	color: panel.$panelContentTextColor;
	padding: panel.$panelContentPadding;
	border-radius: general.$borderRadius;

	.p-tree-container {
			.p-treenode {
					padding: data.$treeNodePadding;
					outline: 0 none;

					&:focus > .p-treenode-content {
							@include mixins.focused-listitem();
					}

					.p-treenode-content {
							border-radius: general.$borderRadius;
							transition: general.$listItemTransition;
							padding: data.$treeNodeContentPadding;

							.p-tree-toggler {
									margin-right: general.$inlineSpacing;
									@include mixins.action-icon();
							}

							.p-treenode-icon {
									margin-right: general.$inlineSpacing;
									color: data.$treeNodeIconColor;
							}

							.p-checkbox {
									margin-right: general.$inlineSpacing;

									&.p-indeterminate {
											.p-checkbox-icon {
													color: general.$primaryTextColor;
											}
									}
							}

							&.p-highlight {
									background: general.$highlightBg;
									color: general.$highlightTextColor;

									.p-tree-toggler,
									.p-treenode-icon {
											color: general.$highlightTextColor;

											&:hover {
													color: general.$highlightTextColor;
											}
									}
							}

							&.p-treenode-selectable:not(.p-highlight):hover {
									background: form.$inputListItemHoverBg;
									color: form.$inputListItemTextHoverColor;
							}

							&.p-treenode-dragover {
								background: form.$inputListItemHoverBg;
								color: form.$inputListItemTextHoverColor;
							}
					}
			}
	}

	.p-tree-filter-container {
			margin-bottom: general.$inlineSpacing;

			.p-tree-filter {
					width: 100%;
					padding-right: list.nth(form.$inputPadding, 2) + general.$primeIconFontSize;
			}

			.p-tree-filter-icon {
					right: list.nth(form.$inputPadding, 2);
					color: form.$inputIconColor;
			}
	}

	.p-treenode-children {
			padding: data.$treeNodeChildrenPadding;
	}

	.p-tree-loading-icon {
			font-size: general.$loadingIconFontSize;

			&.p-icon {
					width:  general.$loadingIconFontSize;
					height: general.$loadingIconFontSize;
			}
	}

	.p-treenode-droppoint {
		height: general.$inlineSpacing;

		&.p-treenode-droppoint-active {
			background: color.scale(general.$highlightBg, $lightness: -20%);
		}
	}
}
