@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/data' as data;
@use '../../mixins' as mixins;

// core
.p-treetable {
    position: relative;
}

.p-treetable > .p-treetable-wrapper {
    overflow: auto;
}

.p-treetable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.p-treetable .p-sortable-column {
    cursor: pointer;
    user-select: none;
}

.p-treetable-selectable .p-treetable-tbody > tr {
    cursor: pointer;
}

.p-treetable-toggler {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.p-treetable-toggler + .p-checkbox {
    vertical-align: middle;
}

.p-treetable-toggler + .p-checkbox + span {
    vertical-align: middle;
}

/* Resizable */
.p-treetable-resizable > .p-treetable-wrapper {
    overflow-x: auto;
}

.p-treetable-resizable .p-treetable-thead > tr > th,
.p-treetable-resizable .p-treetable-tfoot > tr > td,
.p-treetable-resizable .p-treetable-tbody > tr > td {
    overflow: hidden;
}

.p-treetable-resizable .p-resizable-column {
    background-clip: padding-box;
    position: relative;
}

.p-treetable-resizable-fit .p-resizable-column:last-child .p-column-resizer {
    display: none;
}

.p-treetable .p-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 0.5rem;
    height: 100%;
    padding: 0px;
    cursor: col-resize;
    border: 1px solid transparent;
}

.p-treetable .p-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

/* Scrollable */
.p-treetable-scrollable-wrapper {
    position: relative;
}
.p-treetable-scrollable-header,
.p-treetable-scrollable-footer {
    overflow: hidden;
    border: 0 none;
}

.p-treetable-scrollable-body {
    overflow: auto;
    position: relative;
}

.p-treetable-virtual-table {
    position: absolute;
}

/* Frozen Columns */
.p-treetable-frozen-view .p-treetable-scrollable-body {
    overflow: hidden;
}

.p-treetable-unfrozen-view {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Reorder */
.p-treetable-reorder-indicator-up,
.p-treetable-reorder-indicator-down {
    position: absolute;
    display: none;
}

/* Loader */
.p-treetable .p-treetable-loading-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Alignment */
.p-treetable .p-treetable-thead > tr > th.p-align-left > .p-column-header-content,
.p-treetable .p-treetable-tbody > tr > td.p-align-left,
.p-treetable .p-treetable-tfoot > tr > td.p-align-left {
    text-align: left;
    justify-content: flex-start;
}
.p-treetable .p-treetable-thead > tr > th.p-align-right > .p-column-header-content,
.p-treetable .p-treetable-tbody > tr > td.p-align-right,
.p-treetable .p-treetable-tfoot > tr > td.p-align-right {
    text-align: right;
    justify-content: flex-end;
}
.p-treetable .p-treetable-thead > tr > th.p-align-center > .p-column-header-content,
.p-treetable .p-treetable-tbody > tr > td.p-align-center,
.p-treetable .p-treetable-tfoot > tr > td.p-align-center {
    text-align: center;
    justify-content: center;
}


// theme
.p-treetable {
    .p-paginator-top {
        border-width: data.$tableTopPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-paginator-bottom {
        border-width: data.$tableBottomPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-treetable-header {
        background: data.$tableHeaderBg;
        color: data.$tableHeaderTextColor;
        border: data.$tableHeaderBorder;
        border-width: data.$tableHeaderBorderWidth;
        padding: data.$tableHeaderPadding;
        font-weight: data.$tableHeaderFontWeight;
    }

    .p-treetable-footer {
        background: data.$tableFooterBg;
        color: data.$tableFooterTextColor;
        border: data.$tableFooterBorder;
        border-width: data.$tableFooterBorderWidth;
        padding: data.$tableFooterPadding;
        font-weight: data.$tableFooterFontWeight;
    }

    .p-treetable-thead > tr > th {
        text-align: data.$tableCellContentAlignment;
        padding: data.$tableHeaderCellPadding;
        border: data.$tableHeaderCellBorder;
        border-width: data.$tableHeaderCellBorderWidth;
        font-weight: data.$tableHeaderCellFontWeight;
        color: data.$tableHeaderCellTextColor;
        background: data.$tableHeaderCellBg;
        transition: general.$listItemTransition;
    }

    .p-treetable-tfoot > tr > td {
        text-align: data.$tableCellContentAlignment;
        padding: data.$tableFooterCellPadding;
        border: data.$tableFooterCellBorder;
        border-width: data.$tableFooterCellBorderWidth;
        font-weight: data.$tableFooterCellFontWeight;
        color: data.$tableFooterCellTextColor;
        background: data.$tableFooterCellBg;
    }

    .p-sortable-column {
        outline-color: general.$focusOutlineColor;

        .p-sortable-column-icon {
            color: data.$tableHeaderCellIconColor;
            margin-left: general.$inlineSpacing;
        }

        .p-sortable-column-badge {
            border-radius: 50%;
            height: data.$tableSortableColumnBadgeSize;
            min-width: data.$tableSortableColumnBadgeSize;
            line-height: data.$tableSortableColumnBadgeSize;
            color: general.$highlightTextColor;
            background: general.$highlightBg;
            margin-left: general.$inlineSpacing;
        }

        &:not(.p-highlight):hover {
            background: data.$tableHeaderCellHoverBg;
            color: data.$tableHeaderCellTextHoverColor;

            .p-sortable-column-icon {
                color: data.$tableHeaderCellIconHoverColor;
            }
        }

        &.p-highlight {
            background: data.$tableHeaderCellHighlightBg;
            color: data.$tableHeaderCellHighlightTextColor;

            .p-sortable-column-icon {
                color: data.$tableHeaderCellHighlightTextColor;
            }
        }
    }

    .p-treetable-tbody {
        > tr {
            background: data.$tableBodyRowBg;
            color: data.$tableBodyRowTextColor;
            transition: general.$listItemTransition;

            > td {
                text-align: data.$tableCellContentAlignment;
                border: data.$tableBodyCellBorder;
                border-width: data.$tableBodyCellBorderWidth;
                padding: data.$tableBodyCellPadding;

                .p-treetable-toggler {
                    @include mixins.action-icon();
                    & {
                        margin-right: general.$inlineSpacing;
                    }
                    
                    & + .p-checkbox {
                        margin-right: general.$inlineSpacing;
                        
                        .p-indeterminate {
                            .p-checkbox-icon {
                                color: general.$primaryTextColor;
                            }
                        }
                    }
                }
            }

            &:focus-visible {
                outline: .15rem solid general.$focusOutlineColor;
                outline-offset: -.15rem;
            }

            &.p-highlight {
                background: general.$highlightBg;
                color: general.$highlightTextColor;

                .p-treetable-toggler {
                    color: general.$highlightTextColor;

                    &:hover {
                        color: general.$highlightTextColor;
                    }
                    
                }
            }
        }
    }

    &.p-treetable-selectable,
    &.p-treetable-hoverable-rows {
        .p-treetable-tbody > tr:not(.p-highlight):hover {
            background: data.$tableBodyRowHoverBg;
            color: data.$tableBodyRowTextHoverColor;

            .p-treetable-toggler {
                color: data.$tableBodyRowTextHoverColor;
            }
        }
    }

    .p-column-resizer-helper {
        background: data.$tableResizerHelperBg;
    }

    .p-treetable-scrollable-header,
    .p-treetable-scrollable-footer {
        background: panel.$panelHeaderBg;
    }

    .p-treetable-loading-icon {
        font-size: general.$loadingIconFontSize;

        &.p-icon {
            width: general.$loadingIconFontSize;
            height: general.$loadingIconFontSize;
        }
    }

    &.p-treetable-gridlines {
        .p-treetable-header {
            border-width: 1px 1px 0 1px;
        }

        .p-treetable-footer {
            border-width: 0 1px 1px 1px;
        }

        .p-treetable-top {
            border-width: 0 1px 0 1px;
        }

        .p-treetable-bottom {
            border-width: 0 1px 1px 1px;
        }

        .p-treetable-thead {
            > tr {
                > th {
                    border-width: 1px;
                }
            }
        }

        .p-treetable-tbody {
            > tr {
                > td {
                    border-width: 1px;
                }
            }
        }

        .p-treetable-tfoot {
            > tr {
                > td {
                    border-width: 1px;
                }
            }
        }
    }

    &.p-treetable-striped {
        .p-treetable-tbody {
            > tr.p-row-odd {
                background: data.$tableBodyRowEvenBg;
    
                &.p-highlight {
                    background: general.$highlightBg;
                    color: general.$highlightTextColor;
    
                    .p-row-toggler {
                        color: general.$highlightTextColor;
    
                        &:hover {
                            color: general.$highlightTextColor;
                        }
                    }
                }

                & + .p-row-expanded {
                    background: data.$tableBodyRowEvenBg;
                }
            }
        }
    }

    &.p-treetable-sm {
        .p-treetable-header {
            @include mixins.scaledPadding(data.$tableHeaderPadding, general.$scaleSM);
        }

        .p-treetable-thead > tr > th {
            @include mixins.scaledPadding(data.$tableHeaderCellPadding, data.$tableScaleSM);
        }

        .p-treetable-tbody > tr > td {
            @include mixins.scaledPadding(data.$tableBodyCellPadding, data.$tableScaleSM);
        }

        .p-treetable-tfoot > tr > td {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleSM);
        }

        .p-treetable-footer {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleSM);
        }
    }

    &.p-treetable-lg {
        .p-treetable-header {
            @include mixins.scaledPadding(data.$tableHeaderPadding, data.$tableScaleLG);
        }

        .p-treetable-thead > tr > th {
            @include mixins.scaledPadding(data.$tableHeaderCellPadding, data.$tableScaleLG);
        }

        .p-treetable-tbody > tr > td {
            @include mixins.scaledPadding(data.$tableBodyCellPadding, data.$tableScaleLG);
        }

        .p-treetable-tfoot > tr > td {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleLG);
        }

        .p-treetable-footer {
            @include mixins.scaledPadding(data.$tableFooterPadding, data.$tableScaleLG);
        }
    }
}
