@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

//core
.p-checkbox {
    position: relative;
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
}

.p-checkbox-input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    cursor: pointer;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

// theme
.p-checkbox {
    width: form.$checkboxWidth;
    height: form.$checkboxHeight;

    .p-checkbox-input {
        border: form.$checkboxBorder;
        border-radius: general.$borderRadius;
    }

    .p-checkbox-box {
        border: form.$checkboxBorder;
        background: form.$inputBg;
        width: form.$checkboxWidth;
        height: form.$checkboxHeight;
        color: general.$primaryTextColor;
        border-radius: general.$borderRadius;
        transition: general.$formElementTransition;
        outline-color: transparent;

        .p-checkbox-icon {
            transition-duration: general.$transitionDuration;
            color: form.$checkboxIconActiveColor;
            font-size: form.$checkboxIconFontSize;

            &.p-icon {
                width: form.$checkboxIconFontSize;
                height: form.$checkboxIconFontSize;
            }
        }
    }

    .p-checkbox-box {
        border: form.$checkboxBorder;
        background: form.$inputBg;
        width: form.$checkboxWidth;
        height: form.$checkboxHeight;
        color: general.$primaryTextColor;
        border-radius: general.$borderRadius;
        transition: general.$formElementTransition;
        outline-color: transparent;

        .p-checkbox-icon {
            transition-duration: general.$transitionDuration;
            color: form.$checkboxIconActiveColor;
            font-size: form.$checkboxIconFontSize;

            &.p-icon {
                width: form.$checkboxIconFontSize;
                height: form.$checkboxIconFontSize;
            }
        }
    }
    

    &.p-highlight {
        .p-checkbox-box {
            border-color: form.$checkboxActiveBorderColor;
            background: form.$checkboxActiveBg;
        }  
    }

    &:not(.p-disabled) {
        &:has(.p-checkbox-input:hover) {
            .p-checkbox-box {
                border-color: form.$inputHoverBorderColor;
            }

            &.p-highlight {
                .p-checkbox-box {
                    border-color: form.$checkboxActiveHoverBorderColor;
                    background: form.$checkboxActiveHoverBg;
                    color: form.$checkboxIconActiveHoverColor;
                }
            }
        }

        &:has(.p-checkbox-input:focus-visible) {
            .p-checkbox-box {
                @include mixins.focused-input();
            }
        }
    }

    &.p-invalid > .p-checkbox-box {
        @include mixins.invalid-input();
    }

    &.p-variant-filled {
        .p-checkbox-box {
            background-color: form.$inputFilledBg;
        }

        &.p-highlight {
            .p-checkbox-box {
                background: form.$checkboxActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-checkbox-input:hover) {
                .p-checkbox-box {
                    background-color: form.$inputFilledHoverBg;
                }
    
                &.p-highlight {
                    .p-checkbox-box {
                        background: form.$checkboxActiveHoverBg;
                    }
                }
            }
        }
    }
}

.p-input-filled {
    .p-checkbox {
        .p-checkbox-box {
            background-color: form.$inputFilledBg;
        }

        &.p-highlight {
            .p-checkbox-box {
                background: form.$checkboxActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-checkbox-input:hover) {
                .p-checkbox-box {
                    background-color: form.$inputFilledHoverBg;
                }

                &.p-highlight {
                    .p-checkbox-box {
                        background: form.$checkboxActiveHoverBg;
                    }
                }
            }
        }
    }
}

@if (general.$highlightBg == form.$checkboxActiveBg) {
    .p-highlight {
        .p-checkbox {
            .p-checkbox-box {
                border-color: form.$checkboxIconActiveColor;
            }
        }
    }
}
