@use "sass:math";
@use 'sass:list';
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/chip' as chip;
@use '../../mixins' as mixins;

// core
.p-chips {
    display: inline-flex;
}

.p-chips-multiple-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: text;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.p-chips-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
}

.p-chips-input-token {
    flex: 1 1 auto;
    display: inline-flex;
}

.p-chips-token-icon {
    cursor: pointer;
}

.p-chips-input-token input {
    border: 0 none;
    outline: 0 none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

.p-fluid .p-chips {
    display: flex;
}

// theme
.p-chips {
    &:not(.p-disabled):hover {
        .p-chips-multiple-container {
            border-color: form.$inputHoverBorderColor;
        }
    }

    &:not(.p-disabled).p-focus {
        .p-chips-multiple-container {
            @include mixins.focused-input();
        }
    }

    .p-chips-multiple-container {
        padding: math.div(list.nth(form.$inputPadding, 1), 2) list.nth(form.$inputPadding, 2);
        outline-color: transparent;

        .p-chips-token {
            padding: math.div(list.nth(form.$inputPadding, 1), 2) list.nth(form.$inputPadding, 2);
            margin-right: general.$inlineSpacing;
            background: chip.$chipBg;
            color: chip.$chipTextColor;
            border-radius: chip.$chipBorderRadius;

            &.p-focus {
                background: chip.$chipFocusBg;
                color: chip.$chipFocusTextColor;
            }

            .p-chips-token-icon {
                margin-left: general.$inlineSpacing;
            }
        }

        .p-chips-input-token {
            padding: math.div(list.nth(form.$inputPadding, 1), 2) 0;

            input {
                font-family: var(--font-family);
                font-feature-settings: var(--font-feature-settings, normal);
                font-size: form.$inputTextFontSize;
                color: general.$textColor;
                padding: 0;
                margin: 0;
            }
        }
    }

    &.p-invalid.p-component > .p-inputtext {
        @include mixins.invalid-input();
    }
}
