@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/menu' as menu;
@use '../../mixins' as mixins;
@use 'sass:list';

// core
.p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.p-dropdown-clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.p-dropdown-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.p-dropdown-label-empty {
    overflow: hidden;
    opacity: 0;
}

input.p-dropdown-label {
    cursor: default;
}

.p-dropdown .p-dropdown-panel {
    min-width: 100%;
}

.p-dropdown-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.p-dropdown-items-wrapper {
    overflow: auto;
}

.p-dropdown-item {
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.p-dropdown-item-group {
    cursor: auto;
}

.p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-dropdown-filter {
    width: 100%;
}

.p-dropdown-filter-container {
    position: relative;
}

.p-dropdown-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-fluid .p-dropdown {
    display: flex;
}

.p-fluid .p-dropdown .p-dropdown-label {
    width: 1%;
}

// theme
.p-dropdown {
    background: form.$inputBg;
    border: form.$inputBorder;
    transition: general.$formElementTransition;
    border-radius: general.$borderRadius;
    outline-color: transparent;

    &:not(.p-disabled):hover {
        border-color: form.$inputHoverBorderColor;
    }

    &:not(.p-disabled).p-focus {
        @include mixins.focused-input();
    }

    &.p-variant-filled {
        background: form.$inputFilledBg;

        &:not(.p-disabled):hover {
            background-color: form.$inputFilledHoverBg;
        }

        &:not(.p-disabled).p-focus {
            background-color: form.$inputFilledFocusBg;

            .p-inputtext {
                background-color: transparent;
            }
        }
    }

    &.p-dropdown-clearable {
        .p-dropdown-label {
            padding-right: list.nth(form.$inputPadding, 2) + general.$primeIconFontSize;
        }
    }

    .p-dropdown-label {
        background: transparent;
        border: 0 none;

        &.p-placeholder {
            color: form.$inputPlaceholderTextColor;
        }

        &:focus,
        &:enabled:focus {
            outline: 0 none;
            box-shadow: none;
        }
    }

    .p-dropdown-trigger {
        background: transparent;
        color: form.$inputIconColor;
        width: form.$inputGroupAddOnMinWidth;
        border-top-right-radius: general.$borderRadius;
        border-bottom-right-radius: general.$borderRadius;
    }

    .p-dropdown-clear-icon {
        color: form.$inputIconColor;
        right: form.$inputGroupAddOnMinWidth;
    }

    &.p-invalid.p-component {
        @include mixins.invalid-input();
    }
}

.p-dropdown-panel {
    background: form.$inputOverlayBg;
    color: form.$inputListTextColor;
    border: form.$inputOverlayBorder;
    border-radius: general.$borderRadius;
    box-shadow: form.$inputOverlayShadow;

    .p-dropdown-header {
        padding: form.$inputListHeaderPadding;
        border-bottom: form.$inputListHeaderBorder;
        color: form.$inputListHeaderTextColor;
        background: form.$inputOverlayHeaderBg;
        margin: form.$inputListHeaderMargin;
        border-top-right-radius: general.$borderRadius;
        border-top-left-radius: general.$borderRadius;

        .p-dropdown-filter {
            padding-right: list.nth(form.$inputPadding, 2) + general.$primeIconFontSize;
            margin-right: -1 * (list.nth(form.$inputPadding, 2) + general.$primeIconFontSize);
        }

        .p-dropdown-filter-icon {
            right: list.nth(form.$inputPadding, 2);
            color: form.$inputIconColor;
        }
    }

    .p-dropdown-items {
        padding: form.$inputListPadding;

        .p-dropdown-item {
            margin: form.$inputListItemMargin;
            padding: form.$inputListItemPadding;
            border: form.$inputListItemBorder;
            color: form.$inputListItemTextColor;
            background: form.$inputListItemBg;
            transition: general.$listItemTransition;
            border-radius: form.$inputListItemBorderRadius;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.p-highlight {
                color: general.$highlightTextColor;
                background: general.$highlightBg;

                &.p-focus {
                    background: general.$highlightFocusBg;
                }
            }

            &:not(.p-highlight):not(.p-disabled) {
                &.p-focus {
                    color: form.$inputListItemTextHoverColor;
                    background: form.$inputListItemHoverBg;
                }
            }

            .p-dropdown-check-icon {
                position: relative;
                margin-left: -1 * general.$inlineSpacing;
                margin-right: general.$inlineSpacing;
            }
        }

        .p-dropdown-item-group {
            margin: menu.$submenuHeaderMargin;
            padding: menu.$submenuHeaderPadding;
            color: menu.$submenuHeaderTextColor;
            background: menu.$submenuHeaderBg;
            font-weight: menu.$submenuHeaderFontWeight;
        }

        .p-dropdown-empty-message {
            padding: form.$inputListItemPadding;
            color: form.$inputListItemTextColor;
            background: form.$inputListItemBg;
        }
    }
}
