@use 'sass:math';
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

//core
.p-inputswitch {
    position: relative;
    display: inline-block;
}

.p-inputswitch-input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    cursor: pointer;
}

.p-inputswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}

.p-inputswitch-slider:before {
    position: absolute;
    content: '';
    top: 50%;
}

//theme
.p-inputswitch {
    width: form.$inputSwitchWidth;
    height: form.$inputSwitchHeight;

    .p-inputswitch-input {
        border-radius: form.$inputSwitchBorderRadius;
    }

    .p-inputswitch-slider {
        background: form.$inputSwitchSliderOffBg;
        transition: general.$formElementTransition;
        border-radius: form.$inputSwitchBorderRadius;
        outline-color: transparent;

        &:before {
            background: form.$inputSwitchHandleOffBg;
            width: form.$inputSwitchHandleWidth;
            height: form.$inputSwitchHandleHeight;
            left: form.$inputSwitchSliderPadding;
            margin-top: math.div(-1 * form.$inputSwitchHandleHeight, 2);
            border-radius: form.$inputSwitchHandleBorderRadius;
            transition-duration: general.$transitionDuration;
        }
    }

    &.p-highlight {
        .p-inputswitch-slider {
            background: form.$inputSwitchSliderOnBg;

            &:before {
                background: form.$inputSwitchHandleOnBg;
                transform: translateX(form.$inputSwitchHandleWidth);
            }
        }
    }

    &:not(.p-disabled) {
        &:has(.p-inputswitch-input:hover) {
            .p-inputswitch-slider {
                background: form.$inputSwitchSliderOffHoverBg;
            }

            &.p-highlight {
                .p-inputswitch-slider {
                    background: form.$inputSwitchSliderOnHoverBg;
                }
            }
        }

        &:has(.p-inputswitch-input:focus-visible) {
            .p-inputswitch-slider {
                @include mixins.focused();
            }
        }
    }

    &.p-invalid > .p-inputswitch-slider {
        @include mixins.invalid-input();
    }
}