@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;
@use 'sass:list';

.p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: form.$inputTextFontSize;
    color: form.$inputTextColor;
    background: form.$inputBg;
    padding: form.$inputPadding;
    border: form.$inputBorder;
    transition: general.$formElementTransition;
    appearance: none;
    border-radius: general.$borderRadius;
    outline-color: transparent;

    &:enabled:hover {
        border-color: form.$inputHoverBorderColor;
    }

    &:enabled:focus {
        @include mixins.focused-input();
    }

    &.p-invalid.p-component {
        @include mixins.invalid-input();
    }

    &.p-variant-filled {
        background-color: form.$inputFilledBg;

        &:enabled:hover {
            background-color: form.$inputFilledHoverBg;
        }

        &:enabled:focus {
            background-color: form.$inputFilledFocusBg;
        }
    }

    &.p-inputtext-sm {
        @include mixins.scaledFontSize(form.$inputTextFontSize, general.$scaleSM);
        @include mixins.scaledPadding(form.$inputPadding, general.$scaleSM);
    }

    &.p-inputtext-lg {
        @include mixins.scaledFontSize(form.$inputTextFontSize, general.$scaleLG);
        @include mixins.scaledPadding(form.$inputPadding, general.$scaleLG);
    }
}

.p-float-label > label {
    left: list.nth(form.$inputPadding, 2);
    color: form.$inputPlaceholderTextColor;
    transition-duration: general.$transitionDuration;
}

.p-float-label > .p-invalid + label {
    color: form.$inputErrorBorderColor;
}

.p-icon-field-left > .p-inputtext {
    padding-left: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}

.p-icon-field-left.p-float-label > label {
    left: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}

.p-icon-field-right > .p-inputtext {
    padding-right: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}

@include mixins.placeholder {
    color: form.$inputPlaceholderTextColor;
}

.p-input-filled {
    .p-inputtext {
        background-color: form.$inputFilledBg;

        &:enabled:hover {
            background-color: form.$inputFilledHoverBg;
        }

        &:enabled:focus {
            background-color: form.$inputFilledFocusBg;
        }
    }
}

.p-inputtext-sm {
    .p-inputtext {
        @include mixins.scaledFontSize(form.$inputTextFontSize, general.$scaleSM);
        @include mixins.scaledPadding(form.$inputPadding, general.$scaleSM);
    }
}

.p-inputtext-lg {
    .p-inputtext {
        @include mixins.scaledFontSize(form.$inputTextFontSize, general.$scaleLG);
        @include mixins.scaledPadding(form.$inputPadding, general.$scaleLG);
    }
}

.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
    left: list.nth(form.$inputPadding, 2);
    color: form.$inputIconColor;
}

.p-input-icon-left > .p-inputtext {
    padding-left: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}

.p-input-icon-left.p-float-label > label {
    left: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}

.p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
    right: list.nth(form.$inputPadding, 2);
    color: form.$inputIconColor;
}

.p-input-icon-right > .p-inputtext {
    padding-right: list.nth(form.$inputPadding, 2) * 2 + general.$primeIconFontSize;
}
