@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/menu' as menu;
@use '../../mixins' as mixins;
@use 'sass:list';

// core
.p-listbox-list-wrapper {
    overflow: auto;
}

.p-listbox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p-listbox-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.p-listbox-item-group {
    cursor: auto;
}

.p-listbox-filter-container {
    position: relative;
}

.p-listbox-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-listbox-filter {
    width: 100%;
}

// theme
.p-listbox {
    background: form.$inputListBg;
    color: form.$inputListTextColor;
    border: form.$inputListBorder;
    border-radius: general.$borderRadius;
    transition: general.$formElementTransition;
    outline-color: transparent;

    .p-listbox-header {
        padding: form.$inputListHeaderPadding;
        border-bottom: form.$inputListHeaderBorder;
        color: form.$inputListHeaderTextColor;
        background: form.$inputListHeaderBg;
        margin: form.$inputListHeaderMargin;
        border-top-right-radius: general.$borderRadius;
        border-top-left-radius: general.$borderRadius;

        .p-listbox-filter {
            padding-right: list.nth(form.$inputPadding, 2) + general.$primeIconFontSize;
        }

        .p-listbox-filter-icon {
            right: list.nth(form.$inputPadding, 2);
            color: form.$inputIconColor;
        }
    }

    .p-listbox-list {
        padding: form.$inputListPadding;
        outline: 0 none;

        .p-listbox-item {
            margin: form.$inputListItemMargin;
            padding: form.$inputListItemPadding;
            border: form.$inputListItemBorder;
            color: form.$inputListItemTextColor;
            transition: general.$listItemTransition;
            border-radius: form.$inputListItemBorderRadius;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.p-highlight {
                color: general.$highlightTextColor;
                background: general.$highlightBg;
            }
        }

        .p-listbox-item-group {
            margin: menu.$submenuHeaderMargin;
            padding: menu.$submenuHeaderPadding;
            color: menu.$submenuHeaderTextColor;
            background: menu.$submenuHeaderBg;
            font-weight: menu.$submenuHeaderFontWeight;
        }

        .p-listbox-empty-message {
            padding: form.$inputListItemPadding;
            color: form.$inputListItemTextColor;
            background: form.$inputListItemBg;
        }
    }

    &:not(.p-disabled) {
        .p-listbox-item {
            &.p-highlight {
                &.p-focus {
                    background: general.$highlightFocusBg;
                }
            }

            &:not(.p-highlight):not(.p-disabled) {
                &.p-focus {
                    color: form.$inputListItemTextHoverColor;
                    background: form.$inputListItemHoverBg;
                }

                &:hover {
                    color: form.$inputListItemTextHoverColor;
                    background: form.$inputListItemHoverBg;

                    &.p-focus {
                        color: form.$inputListItemTextHoverColor;
                        background: form.$inputListItemHoverBg;
                    }
                }
            }
        }
    }

    &.p-focus {
        @include mixins.focused-input();
    }

    &.p-invalid {
        @include mixins.invalid-input();
    }
}