@use "sass:math";
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/menu' as menu;
@use '../../../theme-light/red/variables/chip' as chip;
@use '../../mixins' as mixins;
@use 'sass:list';


// core
.p-multiselect {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
}

.p-multiselect-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.p-multiselect-label-container {
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
}

.p-multiselect-label {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-multiselect-label-empty {
    overflow: hidden;
    visibility: hidden;
}

.p-multiselect-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
}

.p-multiselect-token-icon {
    cursor: pointer;
}

.p-multiselect .p-multiselect-panel {
    min-width: 100%;
}

.p-multiselect-items-wrapper {
    overflow: auto;
}

.p-multiselect-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-multiselect-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.p-multiselect-item-group {
    cursor: auto;
}

.p-multiselect-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-multiselect-filter-container {
    position: relative;
    flex: 1 1 auto;
}

.p-multiselect-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-multiselect-filter-container .p-inputtext {
    width: 100%;
}

.p-multiselect-close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    margin-left: auto;
}

.p-fluid .p-multiselect {
    display: flex;
}

// theme
.p-multiselect {
    background: form.$inputBg;
    border: form.$inputBorder;
    transition: general.$formElementTransition;
    border-radius: general.$borderRadius;
    outline-color: transparent;

    &:not(.p-disabled):hover {
        border-color: form.$inputHoverBorderColor;
    }

    &:not(.p-disabled).p-focus {
        @include mixins.focused-input();
    }

    &.p-variant-filled {
        background: form.$inputFilledBg;

        &:not(.p-disabled):hover {
            background-color: form.$inputFilledHoverBg;
        }

        &:not(.p-disabled).p-focus {
            background-color: form.$inputFilledFocusBg;
        }
    }

    .p-multiselect-label {
        padding: form.$inputPadding;
        transition: general.$formElementTransition;

        &.p-placeholder {
            color: form.$inputPlaceholderTextColor;
        }
    }

    &.p-multiselect-chip {
        .p-multiselect-token {
            padding: math.div(list.nth(form.$inputPadding, 1), 2) list.nth(form.$inputPadding, 2);
            margin-right: general.$inlineSpacing;
            background: chip.$chipBg;
            color: chip.$chipTextColor;
            border-radius: chip.$chipBorderRadius;

            .p-multiselect-token-icon {
                margin-left: general.$inlineSpacing;
            }
        }
    }

    .p-multiselect-trigger {
        background: transparent;
        color: form.$inputIconColor;
        width: form.$inputGroupAddOnMinWidth;
        border-top-right-radius: general.$borderRadius;
        border-bottom-right-radius: general.$borderRadius;
    }

    &.p-invalid.p-component {
        @include mixins.invalid-input();
    }
}

.p-inputwrapper-filled {
    &.p-multiselect {
        &.p-multiselect-chip {
            .p-multiselect-label {
                padding: math.div(list.nth(form.$inputPadding, 1), 2)
                    list.nth(form.$inputPadding, 2);
            }
        }
    }
}

.p-multiselect-panel {
    background: form.$inputOverlayBg;
    color: form.$inputListTextColor;
    border: form.$inputOverlayBorder;
    border-radius: general.$borderRadius;
    box-shadow: form.$inputOverlayShadow;

    .p-multiselect-header {
        padding: form.$inputListHeaderPadding;
        border-bottom: form.$inputListHeaderBorder;
        color: form.$inputListHeaderTextColor;
        background: form.$inputOverlayHeaderBg;
        margin: form.$inputListHeaderMargin;
        border-top-right-radius: general.$borderRadius;
        border-top-left-radius: general.$borderRadius;

        .p-multiselect-filter-container {
            .p-inputtext {
                padding-right: list.nth(form.$inputPadding, 2) + general.$primeIconFontSize;
            }

            .p-multiselect-filter-icon {
                right: list.nth(form.$inputPadding, 2);
                color: form.$inputIconColor;
            }
        }

        .p-checkbox {
            margin-right: general.$inlineSpacing;
        }

        .p-multiselect-close {
            margin-left: general.$inlineSpacing;
            @include mixins.action-icon();
        }
    }

    .p-multiselect-items {
        padding: form.$inputListPadding;

        .p-multiselect-item {
            margin: form.$inputListItemMargin;
            padding: form.$inputListItemPadding;
            border: form.$inputListItemBorder;
            color: form.$inputListItemTextColor;
            background: form.$inputListItemBg;
            transition: general.$listItemTransition;
            border-radius: form.$inputListItemBorderRadius;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.p-highlight {
                color: general.$highlightTextColor;
                background: general.$highlightBg;

                &.p-focus {
                    background: general.$highlightFocusBg;
                }
            }

            &:not(.p-highlight):not(.p-disabled) {
                &.p-focus {
                    color: form.$inputListItemTextHoverColor;
                    background: form.$inputListItemHoverBg;
                }
            }

            .p-checkbox {
                margin-right: general.$inlineSpacing;
            }
        }

        .p-multiselect-item-group {
            margin: menu.$submenuHeaderMargin;
            padding: menu.$submenuHeaderPadding;
            color: menu.$submenuHeaderTextColor;
            background: menu.$submenuHeaderBg;
            font-weight: menu.$submenuHeaderFontWeight;
        }

        .p-multiselect-empty-message {
            padding: form.$inputListItemPadding;
            color: form.$inputListItemTextColor;
            background: form.$inputListItemBg;
        }
    }
}

