@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/overlay' as overlay;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

.p-password {
    &.p-invalid.p-component > .p-inputtext {
        @include mixins.invalid-input();
    }
}

.p-password-panel {
    padding: panel.$panelContentPadding;
    background: panel.$panelContentBg;
    color: panel.$panelContentTextColor;
    border: overlay.$overlayContentBorder;
    box-shadow: form.$inputOverlayShadow;
    border-radius: general.$borderRadius;

    .p-password-meter {
        margin-bottom: general.$inlineSpacing;
        background: form.$passwordMeterBg;

        .p-password-strength {
            &.weak {
                background: form.$passwordWeakBg;
            }

            &.medium {
                background: form.$passwordMediumBg;
            }

            &.strong {
                background: form.$passwordStrongBg;
            }
        }
    }
}