@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

//core
.p-radiobutton {
    position: relative;
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
}

.p-radiobutton-input {
    cursor: pointer;
}

.p-radiobutton-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-radiobutton-icon {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(.1);
    border-radius: 50%;
    visibility: hidden;
}

.p-radiobutton.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(1.0, 1.0);
    visibility: visible;
}

//theme
.p-radiobutton {
    width: form.$radiobuttonWidth;
    height: form.$radiobuttonHeight;

      .p-radiobutton-input {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: 1;
        outline: 0 none;
        border: form.$radiobuttonBorder;
        border-radius: 50%;
    }

    .p-radiobutton-box {
        border: form.$radiobuttonBorder;
        background: form.$inputBg;
        width: form.$radiobuttonWidth;
        height: form.$radiobuttonHeight;
        color: general.$textColor;
        border-radius: 50%;
        transition: general.$formElementTransition;
        outline-color: transparent;

        .p-radiobutton-icon {
            width: form.$radiobuttonIconSize;
            height: form.$radiobuttonIconSize;
            transition-duration: general.$transitionDuration;
            background-color: form.$radiobuttonIconActiveColor;
        }
    }

    &.p-highlight {
        .p-radiobutton-box {
            border-color: form.$radiobuttonActiveBorderColor;
            background: form.$radiobuttonActiveBg;
        }
    }

    &:not(.p-disabled) {
        &:has(.p-radiobutton-input:hover) {
            .p-radiobutton-box {
                border-color: form.$inputHoverBorderColor;
            }

            &.p-highlight {
                .p-radiobutton-box {
                    border-color: form.$radiobuttonActiveHoverBorderColor;
                    background: form.$radiobuttonActiveHoverBg;

                    .p-radiobutton-icon {
                        background-color: form.$radiobuttonIconActiveHoverColor;
                    }
                }
            }
        }

        &:has(.p-radiobutton-input:focus-visible) {
            .p-radiobutton-box {
                @include mixins.focused-input();
            }
        }
    }

    &.p-invalid > .p-radiobutton-box {
        @include mixins.invalid-input();
    }

    &.p-variant-filled {
        .p-radiobutton-box {
            background-color: form.$inputFilledBg;
        }

        &.p-highlight {
            .p-radiobutton-box {
                background: form.$radiobuttonActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-radiobutton-input:hover) {
                .p-radiobutton-box {
                    background-color: form.$inputFilledHoverBg;
                }

                &.p-highlight {
                    .p-radiobutton-box {
                        background: form.$radiobuttonActiveHoverBg;
                    }
                }
            }
        }
    }
}

.p-input-filled {
    .p-radiobutton {
        .p-radiobutton-box {
            background-color: form.$inputFilledBg;
        }

        &.p-highlight {
            .p-radiobutton-box {
                background: form.$radiobuttonActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-radiobutton-input:hover) {
                .p-radiobutton-box {
                    background-color: form.$inputFilledHoverBg;
                }

                &.p-highlight {
                    .p-radiobutton-box {
                        background: form.$radiobuttonActiveHoverBg;
                    }
                }
            }
        }
    }
}

@if (general.$highlightBg == form.$radiobuttonActiveBg) {
    .p-highlight {
        .p-radiobutton {
            .p-radiobutton-box {
                border-color: form.$radiobuttonIconActiveColor;
            }
        }
    }
}