@use 'sass:math';
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

// core
.p-rating {
    position: relative;
    display: flex;
    align-items: center;
}

.p-rating-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.p-rating.p-readonly .p-rating-item {
    cursor: default;
}

// theme
.p-rating {
    gap: general.$inlineSpacing;

    .p-rating-item {
        outline-color: transparent;
        border-radius: 50%;
        
        .p-rating-icon {
            color: form.$ratingStarIconOffColor;
            transition: general.$formElementTransition;   
            font-size: form.$ratingIconFontSize;

            &.p-icon {
                width: form.$ratingIconFontSize;
                height: form.$ratingIconFontSize;
            }
    
            &.p-rating-cancel {
                color: form.$ratingCancelIconColor;
            }
        }

        &.p-focus {
            @include mixins.focused();
        }

        &.p-rating-item-active {
            .p-rating-icon {
                color: form.$ratingStarIconOnColor;
            }
        }
    }

    &:not(.p-disabled):not(.p-readonly) {
        .p-rating-item {
            &:hover {
                .p-rating-icon {
                    color: form.$ratingStarIconHoverColor;

                    &.p-rating-cancel {
                        color: form.$ratingCancelIconHoverColor;
                    }
                }
            }
        }
    }
}

@if (general.$highlightBg == form.$ratingStarIconOnColor) {
    .p-highlight {
        .p-rating {
            .p-rating-item {
                &.p-rating-item-active {
                    .p-rating-icon {
                        color: general.$highlightTextColor;
                    }
                }
            }
        }
    }
}