@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/button' as button;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;

//core
.p-togglebutton {
    position: relative;
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
}

.p-togglebutton-input {
    cursor: pointer;
}

.p-togglebutton .p-button {
    flex: 1 1 auto;
}
//theme
.p-togglebutton {
    .p-togglebutton-input {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: 1;
        outline: 0 none;
        border: button.$toggleButtonBorder;
        border-radius: general.$borderRadius;
    }

    .p-button {
        background: button.$toggleButtonBg;
        border: button.$toggleButtonBorder;
        color: button.$toggleButtonTextColor;
        transition: general.$formElementTransition;
        outline-color: transparent;

        .p-button-icon-left,
        .p-button-icon-right {
            color: button.$toggleButtonIconColor;
        }
    }

    &.p-highlight {
        .p-button {
            background: button.$toggleButtonActiveBg;
            border-color: button.$toggleButtonActiveBorderColor;
            color: button.$toggleButtonTextActiveColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: button.$toggleButtonIconActiveColor;
            }
        }
    }

    &:not(.p-disabled) {
        &:has(.p-togglebutton-input:hover) {
            &:not(.p-highlight) {
                .p-button {
                    background: button.$toggleButtonHoverBg;
                    border-color: button.$toggleButtonHoverBorderColor;
                    color: button.$toggleButtonTextHoverColor;

                    .p-button-icon-left,
                    .p-button-icon-right {
                        color: button.$toggleButtonIconHoverColor;
                    }
                }
            }

            &.p-highlight {
                .p-button {
                    background: button.$toggleButtonActiveHoverBg;
                    border-color: button.$toggleButtonActiveHoverBorderColor;
                    color: button.$toggleButtonTextActiveHoverColor;

                    .p-button-icon-left,
                    .p-button-icon-right {
                        color: button.$toggleButtonIconActiveHoverColor;
                    }
                }
            }
        }

        &:has(.p-togglebutton-input:focus-visible) {
            .p-button {
                @include mixins.focused-input();
            }
        }
    }

    &.p-invalid > .p-button {
        @include mixins.invalid-input();
    }
}
