@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../mixins' as mixins;
@use 'sass:list';

.p-tabmenu {
    .p-tabmenu-nav {
        background: panel.$tabviewNavBg;
        border: panel.$tabviewNavBorder;
        border-width: panel.$tabviewNavBorderWidth;

        .p-tabmenuitem {
            margin-right: panel.$tabviewHeaderSpacing;

            .p-menuitem-link {
                border: panel.$tabviewHeaderBorder;
                border-width: panel.$tabviewHeaderBorderWidth;
                border-color: panel.$tabviewHeaderBorderColor;
                background: panel.$tabviewHeaderBg;
                color: panel.$tabviewHeaderTextColor;
                padding: panel.$tabviewHeaderPadding;
                font-weight: panel.$tabviewHeaderFontWeight;
                border-top-right-radius: general.$borderRadius;
                border-top-left-radius: general.$borderRadius;
                transition: general.$listItemTransition;
                margin: panel.$tabviewHeaderMargin;
                height: calc(100% + #{-1 * list.nth(panel.$tabviewHeaderMargin, 3)});

                .p-menuitem-icon {
                    margin-right: general.$inlineSpacing;
                }

                &:not(.p-disabled):focus-visible {
                    @include mixins.focused-inset();
                }
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                .p-menuitem-link {
                    background: panel.$tabviewHeaderHoverBg;
                    border-color: panel.$tabviewHeaderHoverBorderColor;
                    color: panel.$tabviewHeaderTextHoverColor;
                }
            }

            &.p-highlight {
                .p-menuitem-link {
                    background: panel.$tabviewHeaderActiveBg;
                    border-color: panel.$tabviewHeaderActiveBorderColor;
                    color: panel.$tabviewHeaderTextActiveColor;
                }
            }
        }
    }
}
