@use 'red/variables/panel' as panel;
@use 'red/variables/general' as general;

$colors: (
    'blue': #1992d4,
    'green': #27ab83,
    'yellow': #f9c404,
    'cyan': #00b9c6,
    'pink': #c74b95,
    'indigo': #4c63b6,
    'teal': #00ae99,
    'orange': #de911d,
    'bluegray': #676c7e,
    'purple': #ba6ff4,
    'red': #94242b,
    'primary': #{general.$primaryColor},
);

// Mandatory Designer Variables
@forward 'red/variables/general';
@forward 'red/variables/form';
@forward 'red/variables/button';
@forward 'red/variables/panel';
@forward 'red/variables/data';
@forward 'red/variables/overlay';
@forward 'red/variables/message';
@forward 'red/variables/menu';
@forward 'red/variables/media';
@forward 'red/variables/misc';
@forward 'red/variables/chip';

:root {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-a:#ffffff;
    --surface-b:#f8f9fa;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:#495057;
    --text-color-secondary:#6c757d;
    --primary-color:#{general.$primaryColor};
    --primary-color-text:#ffffff;
    --surface-0: #ffffff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding:#{panel.$panelContentPadding};
    --inline-spacing:#{general.$inlineSpacing};
    --border-radius:#{general.$borderRadius};
    --surface-ground:#f8f9fa;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#dee2e6;
    --surface-hover:#e9ecef;
    --focus-ring: #{general.$focusShadow};
    --maskbg: #{general.$maskBg};
    --highlight-bg: #{general.$highlightBg};
    --highlight-text-color: #{general.$highlightTextColor};
    color-scheme: light;
}
