@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/misc' as misc;
@use '../../../theme-light/red/variables/panel' as panel;

.p-avatar {
    background-color: misc.$avatarBg;
    border-radius: general.$borderRadius;

    &.p-avatar-lg {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

        .p-avatar-icon {
            font-size: 1.5rem;
        }
    }

    &.p-avatar-xl {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;

        .p-avatar-icon {
            font-size: 2rem;
        }
    }
}

.p-avatar-circle {
    border-radius: 50%;
  }

.p-avatar-group {
    .p-avatar {
        border: 2px solid panel.$panelContentBg;
    }
}