@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/misc' as misc;
@use '../../../theme-light/red/variables/button' as button;

.p-badge {
    background: misc.$badgeBg;
    color: misc.$badgeTextColor;
    font-size: misc.$badgeFontSize;
    font-weight: misc.$badgeFontWeight;
    min-width: misc.$badgeMinWidth;
    height: misc.$badgeHeight;
    line-height: misc.$badgeHeight;

    &.p-badge-secondary {
        background-color: button.$secondaryButtonBg;
        color: button.$secondaryButtonTextColor;
    }

    &.p-badge-success {
        background-color: button.$successButtonBg;
        color: button.$successButtonTextColor;
    }

    &.p-badge-info {
        background-color: button.$infoButtonBg;
        color: button.$infoButtonTextColor;
    }

    &.p-badge-warning {
        background-color: button.$warningButtonBg;
        color: button.$warningButtonTextColor;
    }

    &.p-badge-danger {
        background-color: button.$dangerButtonBg;
        color: button.$dangerButtonTextColor;
    }

    &.p-badge-lg {
        font-size: 1.5 * misc.$badgeFontSize;
        min-width: 1.5 * misc.$badgeMinWidth;
        height: 1.5 * misc.$badgeHeight;
        line-height: 1.5 * misc.$badgeHeight;
    }

    &.p-badge-xl {
        font-size: 2 * misc.$badgeFontSize;
        min-width: 2 * misc.$badgeMinWidth;
        height: 2 * misc.$badgeHeight;
        line-height: 2 * misc.$badgeHeight;
    }
}

.p-tag {
    background: misc.$badgeBg;
    color: misc.$badgeTextColor;
    font-size: misc.$badgeFontSize;
    font-weight: misc.$badgeFontWeight;
    padding: misc.$tagPadding;
    border-radius: general.$borderRadius;

    &.p-tag-success {
        background-color: button.$successButtonBg;
        color: button.$successButtonTextColor;
    }

    &.p-tag-info {
        background-color: button.$infoButtonBg;
        color: button.$infoButtonTextColor;
    }

    &.p-tag-warning {
        background-color: button.$warningButtonBg;
        color: button.$warningButtonTextColor;
    }

    &.p-tag-danger {
        background-color: button.$dangerButtonBg;
        color: button.$dangerButtonTextColor;
    }
}