@use 'sass:math';
@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/chip' as chip;
@use '../../../theme-light/red/variables/form' as form;
@use '../../mixins' as mixins;
@use 'sass:list';

.p-chip {
    background-color: chip.$chipBg;
    color: chip.$chipTextColor;
    border-radius: chip.$chipBorderRadius;
    padding: 0 list.nth(form.$inputPadding, 2);

    .p-chip-text {
        line-height: 1.5;
        margin-top: math.div(list.nth(form.$inputPadding, 1), 2);
        margin-bottom: math.div(list.nth(form.$inputPadding, 1), 2);
    }

    .p-chip-icon {
        margin-right: general.$inlineSpacing;
    }

    img {
        width: 1.5 + list.nth(form.$inputPadding, 1);
        height: 1.5 + list.nth(form.$inputPadding, 1);
        margin-left: -1 * list.nth(form.$inputPadding, 2);
        margin-right: general.$inlineSpacing;
    }

    .p-chip-remove-icon {
        border-radius: general.$borderRadius;
        transition: general.$actionIconTransition;
        margin-left: general.$inlineSpacing;
        
        &:focus-visible {
            @include mixins.focused();
        }

        &:focus {
            outline: 0 none;
        }
    }
}