@use '../../../theme-light/red/variables/form' as form;
@use '../../../theme-light/red/variables/panel' as panel;

.p-terminal {
	background: panel.$panelContentBg;
	color: panel.$panelContentTextColor;
	border: panel.$panelContentBorder;
	padding: panel.$panelContentPadding;

	.p-terminal-input {
		font-family: var(--font-family);
		font-feature-settings: var(--font-feature-settings, normal);
		font-size: form.$inputTextFontSize;
	}
}
