@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../mixins' as mixins;

.p-splitter {
	border: panel.$panelContentBorder;
	background: panel.$panelContentBg;
	border-radius: general.$borderRadius;
	color: panel.$panelContentTextColor;

	.p-splitter-gutter {
		transition: general.$actionIconTransition;
		background: panel.$splitterGutterBg;

		.p-splitter-gutter-handle {
			background: panel.$splitterGutterHandleBg;

			&:focus-visible {
				@include mixins.focused();
			}
		}
	}

	.p-splitter-gutter-resizing {
		background: panel.$splitterGutterHandleBg;
	}
}
