@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;
@use '../../../theme-light/red/variables/button' as button;
@use '../../mixins' as mixins;

//core
.p-tabview-nav-container {
    position: relative;
}

.p-tabview-scrollable .p-tabview-nav-container {
    overflow: hidden;
}

.p-tabview-nav-content {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    position: relative;
}

.p-tabview-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1 1 auto;
}

.p-tabview-nav-link {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.p-tabview-ink-bar {
    display: none;
    z-index: 1;
}

.p-tabview-nav-link:focus {
    z-index: 1;
}

.p-tabview-close {
    z-index: 1;
}

.p-tabview-title {
    line-height: 1;
    white-space: nowrap;
}

.p-tabview-nav-btn {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-tabview-nav-prev {
    left: 0;
}

.p-tabview-nav-next {
    right: 0;
}

.p-tabview-nav-content::-webkit-scrollbar {
    display: none;
}

//theme
.p-tabview {
    .p-tabview-nav {
        background: panel.$tabviewNavBg;
        border: panel.$tabviewNavBorder;
        border-width: panel.$tabviewNavBorderWidth;

        li {
            margin-right: panel.$tabviewHeaderSpacing;

            .p-tabview-nav-link {
                border: panel.$tabviewHeaderBorder;
                border-width: panel.$tabviewHeaderBorderWidth;
                border-color: panel.$tabviewHeaderBorderColor;
                background: panel.$tabviewHeaderBg;
                color: panel.$tabviewHeaderTextColor;
                padding: panel.$tabviewHeaderPadding;
                font-weight: panel.$tabviewHeaderFontWeight;
                border-top-right-radius: general.$borderRadius;
                border-top-left-radius: general.$borderRadius;
                transition: general.$listItemTransition;
                margin: panel.$tabviewHeaderMargin;

                &:not(.p-disabled):focus-visible {
                    @include mixins.focused-inset();
                }
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                .p-tabview-nav-link {
                    background: panel.$tabviewHeaderHoverBg;
                    border-color: panel.$tabviewHeaderHoverBorderColor;
                    color: panel.$tabviewHeaderTextHoverColor;
                }
            }

            &.p-highlight {
                .p-tabview-nav-link {
                    background: panel.$tabviewHeaderActiveBg;
                    border-color: panel.$tabviewHeaderActiveBorderColor;
                    color: panel.$tabviewHeaderTextActiveColor;
                }
            }
        }
    }

    .p-tabview-close {
        margin-left: general.$inlineSpacing;
    }
    
    .p-tabview-nav-btn.p-link {
        background: panel.$tabviewHeaderActiveBg;
        color: panel.$tabviewHeaderTextActiveColor;
        width: button.$buttonIconOnlyWidth;
        box-shadow: button.$raisedButtonShadow;
        border-radius: 0;

        &:focus-visible {
            @include mixins.focused-inset();
        }
    }

    .p-tabview-panels {
        background: panel.$tabviewContentBg;
        padding: panel.$tabviewContentPadding;
        border: panel.$tabviewContentBorder;
        color: panel.$tabviewContentTextColor;
        border-bottom-right-radius: general.$borderRadius;
        border-bottom-left-radius: general.$borderRadius;
    }
}
