@use '../../../theme-light/red/variables/general' as general;
@use '../../../theme-light/red/variables/panel' as panel;

.p-toolbar {
    background: panel.$panelHeaderBg;
    border: panel.$panelHeaderBorder;
    padding: panel.$panelHeaderPadding;
    border-radius: general.$borderRadius;
    gap: general.$inlineSpacing;

    .p-toolbar-separator {
        margin: 0 general.$inlineSpacing;
    }
}
