@use "general" as general;
@use "sass:color";

/// Padding of a button, must be defined with a shorthand for vertical and horizontal values e.g. ".5rem .5rem"
/// @group button
$buttonPadding: .5rem 1rem;

/// Width of a button having an icon with no label
/// @group button
$buttonIconOnlyWidth: 2.357rem;

/// Padding of a button having an icon with no label
/// @group button
$buttonIconOnlyPadding: .5rem 0;

/// Background of a button
/// @group button
$buttonBg: general.$primaryColor;

/// Text color of a button
/// @group button
$buttonTextColor: general.$primaryTextColor;

/// Border of a button
/// @group button
$buttonBorder: 1px solid general.$primaryColor;

/// Background of a button in hover state
/// @group button
$buttonHoverBg: general.$primaryDarkColor;

/// Text color of a button in hover state
/// @group button
$buttonTextHoverColor: general.$primaryTextColor;

/// Border color of a button in hover state
/// @group button
$buttonHoverBorderColor: general.$primaryDarkColor;

/// Background of a button in pressed state
/// @group button
$buttonActiveBg: general.$primaryDarkerColor;

/// Color of a button in pressed state
/// @group button
$buttonTextActiveColor: general.$primaryTextColor;

/// Border color of a button in pressed state
/// @group button
$buttonActiveBorderColor: general.$primaryDarkerColor;

/// Shadow of a raised button
/// @group button
$raisedButtonShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

/// Border radius of a rounded button
/// @group button
$roundedButtonBorderRadius: 2rem;

/// Alpha level of a text button background in hover state
/// @group button
$textButtonHoverBgOpacity:.04;

/// Alpha level of a text button background in active state
/// @group button
$textButtonActiveBgOpacity:.16;

/// Border style of a outlined button
/// @group button
$outlinedButtonBorder:1px solid;

/// Text color of a plain text button
/// @group button
$plainButtonTextColor:#6c757d;

/// Background color of a plain text button in hover state
/// @group button
$plainButtonHoverBgColor:#e9ecef;

/// Background color of a plain text button in active state
/// @group button
$plainButtonActiveBgColor:#dee2e6;

/// Background of a secondary button
/// @group button
$secondaryButtonBg: #64748b;

/// Text color of a secondary button
/// @group button
$secondaryButtonTextColor: #ffffff;

/// Border of a secondary button
/// @group button
$secondaryButtonBorder: 1px solid #607D8B;

/// Background of a secondary button in hover state
/// @group button
$secondaryButtonHoverBg: #475569;

/// Text color of a secondary button in hover state
/// @group button
$secondaryButtonTextHoverColor: #ffffff;

/// Border color of a secondary button in hover state
/// @group button
$secondaryButtonHoverBorderColor: #475569;

/// Background of a secondary button in pressed state
/// @group button
$secondaryButtonActiveBg: #334155;

/// Text color of a secondary button in pressed state
/// @group button
$secondaryButtonTextActiveColor: #ffffff;

/// Border color of a secondary button in pressed state
/// @group button
$secondaryButtonActiveBorderColor: #334155;

/// Box shadow of a secondary button in focused state
/// @group button
$secondaryButtonFocusShadow: 0 0 0 0.2rem #e2e8f0;

/// Background of an info button
/// @group button
$infoButtonBg: #3b82f6;

/// Text color of an info button
/// @group button
$infoButtonTextColor: #ffffff;

/// Border of an info button
/// @group button
$infoButtonBorder: 1px solid #3b82f6;

/// Background of an info button in hover state
/// @group button
$infoButtonHoverBg: #2563eb;

/// Text color of an info button in hover state
/// @group button
$infoButtonTextHoverColor: #ffffff;

/// Border color of an info button in hover state
/// @group button
$infoButtonHoverBorderColor: #2563eb;

/// Background of an info button in pressed state
/// @group button
$infoButtonActiveBg: #1d4ed8;

/// Text color of an info button in pressed state
/// @group button
$infoButtonTextActiveColor: #ffffff;

/// Border color of an info button in pressed state
/// @group button
$infoButtonActiveBorderColor: #1d4ed8;

/// Box shadow of an info button in focused state
/// @group button
$infoButtonFocusShadow: 0 0 0 0.2rem #bfdbfe;

/// Background of a success button
/// @group button
$successButtonBg: #22c55e;

/// Text color of a success button
/// @group button
$successButtonTextColor: #ffffff;

/// Border of a success button
/// @group button
$successButtonBorder: 1px solid #22c55e;

/// Background of a success button in hover state
/// @group button
$successButtonHoverBg: #16a34a;

/// Text color of a success button in hover state
/// @group button
$successButtonTextHoverColor: #ffffff;

/// Border color of a success button in hover state
/// @group button
$successButtonHoverBorderColor: #16a34a;

/// Background of a success button in pressed state
/// @group button
$successButtonActiveBg: #15803d;

/// Text Color of a success button in pressed state
/// @group button
$successButtonTextActiveColor: #ffffff;

/// Border color of a success button in pressed state
/// @group button
$successButtonActiveBorderColor: #15803d;

/// Box shadow of a success button in focused state
/// @group button
$successButtonFocusShadow: 0 0 0 0.2rem #bbf7d0;

/// Background of a warning button
/// @group button
$warningButtonBg: #f59e0b;

/// Text color of a warning button
/// @group button
$warningButtonTextColor: general.$textColor;

/// Border of a warning button
/// @group button
$warningButtonBorder: 1px solid #f59e0b;

/// Background of a warning button in hover state
/// @group button
$warningButtonHoverBg: #d97706;

/// Text color of a warning button in hover state
/// @group button
$warningButtonTextHoverColor: general.$textColor;

/// Border color of a warning button in hover state
/// @group button
$warningButtonHoverBorderColor: #d97706;

/// Background of a warning button in pressed state
/// @group button
$warningButtonActiveBg: #b45309;

/// Text color of a warning button in pressed state
/// @group button
$warningButtonTextActiveColor: general.$textColor;

/// Border color of a warning button in pressed state
/// @group button
$warningButtonActiveBorderColor: #b45309;

/// Box shadow of a warning button in focused state
/// @group button
$warningButtonFocusShadow: 0 0 0 0.2rem #fde68a;

/// Background of a help button
/// @group button
$helpButtonBg:#a855f7;

/// Text color of a help button
/// @group button
$helpButtonTextColor:#ffffff;

/// Border of a help button
/// @group button
$helpButtonBorder:1px solid #a855f7;

/// Background of a help help in hover state
/// @group button
$helpButtonHoverBg:#9333ea;

/// Text color of a help button in hover state
/// @group button
$helpButtonTextHoverColor:#ffffff;

/// Border color of a help button in hover state
/// @group button
$helpButtonHoverBorderColor:#9333ea;

/// Background of a help button in pressed state
/// @group button
$helpButtonActiveBg:#7e22ce;

/// Text color of a help button in pressed state
/// @group button
$helpButtonTextActiveColor:#ffffff;

/// Border color of a help button in pressed state
/// @group button
$helpButtonActiveBorderColor:#7e22ce;

/// Box shadow of a help button in focused state
/// @group button
$helpButtonFocusShadow:0 0 0 0.2rem #e9d5ff;

/// Background of a danger button
/// @group button
$dangerButtonBg: #ef4444;

/// Text color of a danger button
/// @group button
$dangerButtonTextColor: #ffffff;

/// Border of a danger button
/// @group button
$dangerButtonBorder: 1px solid #ef4444;

/// Background of a danger button in hover state
/// @group button
$dangerButtonHoverBg: #dc2626;

/// Text color of a danger button in hover state
/// @group button
$dangerButtonTextHoverColor: #ffffff;

/// Border color of a danger button in hover state
/// @group button
$dangerButtonHoverBorderColor: #dc2626;

/// Background of a danger button in pressed state
/// @group button
$dangerButtonActiveBg: #b91c1c;

/// Text color of a danger button in pressed state
/// @group button
$dangerButtonTextActiveColor: #ffffff;

/// Border color of a danger button in pressed state
/// @group button
$dangerButtonActiveBorderColor: #b91c1c;

/// Box shadow of a danger button in focused state
/// @group button
$dangerButtonFocusShadow: 0 0 0 0.2rem #fecaca;

/// Text color of a link button
/// @group button
$linkButtonColor:general.$primaryDarkerColor;

/// Text color of a link button in hover state
/// @group button
$linkButtonHoverColor:general.$primaryDarkerColor;

/// Text decoration of a link button in hover state
/// @group button
$linkButtonTextHoverDecoration:underline;

/// Box shadow of a link button in focused state
/// @group button
$linkButtonFocusShadow: 0 0 0 0.2rem general.$focusOutlineColor;

/// Background of a toggle button
/// @group button
$toggleButtonBg: #ffffff;

/// Border of a toggle button
/// @group button
$toggleButtonBorder: 1px solid #ced4da;

/// Text color of a toggle button
/// @group button
$toggleButtonTextColor: general.$textColor;

/// Icon color of a toggle button
/// @group button
$toggleButtonIconColor: general.$textSecondaryColor;

/// Background of a toggle button in hover state
/// @group button
$toggleButtonHoverBg: #e9ecef;

/// Border color of a toggle button in hover state
/// @group button
$toggleButtonHoverBorderColor: #ced4da;

/// Text color of a toggle button in hover state
/// @group button
$toggleButtonTextHoverColor: general.$textColor;

/// Icon color of a toggle button in hover state
/// @group button
$toggleButtonIconHoverColor: general.$textSecondaryColor;

/// Background of a toggle button in selected state
/// @group button
$toggleButtonActiveBg: general.$primaryColor;

/// Border color of a toggle button in selected state
/// @group button
$toggleButtonActiveBorderColor: general.$primaryColor;

/// Text color of a toggle button in selected state
/// @group button
$toggleButtonTextActiveColor: general.$primaryTextColor;

/// Icon color of a toggle button in selected state
/// @group button
$toggleButtonIconActiveColor: general.$primaryTextColor;

/// Hover background of a toggle button in selected state
/// @group button
$toggleButtonActiveHoverBg: general.$primaryDarkColor;

/// Hover border color of a toggle button in selected state
/// @group button
$toggleButtonActiveHoverBorderColor: general.$primaryDarkColor;

/// Hover text color of a toggle button in selected state
/// @group button
$toggleButtonTextActiveHoverColor: general.$primaryTextColor;

/// Hover icon of a toggle button in selected state
/// @group button
$toggleButtonIconActiveHoverColor: general.$primaryTextColor;

/// Width of a floating action button on speed dial
/// @group button
$speedDialButtonWidth: 4rem;

/// Height of a floating action button on speed dial
/// @group button
$speedDialButtonHeight: 4rem;

/// Font Size of a floating action button on speed dial
/// @group button
$speedDialButtonIconFontSize: 1.3rem;

/// Width of any action button on speed dial
/// @group button
$speedDialActionWidth: 3rem;

/// Height of any action button on speed dial
/// @group button
$speedDialActionHeight: 3rem;

/// Background color of any action button on speed dial 
/// @group button
$speedDialActionBg: #495057;

/// Background color of any action button on speed dial in hover state
/// @group button
$speedDialActionHoverBg: #343a40;

/// Color of any action button on speed dial 
/// @group button
$speedDialActionTextColor: #fff;

/// Color of any action button on speed dial in hover state
/// @group button
$speedDialActionTextHoverColor: #fff;