.input-container {
    position: relative;

    &__label {
        position: absolute;
        top: -8px;
        left: 5px;
        transform: translateY(-8px);
        font-size: 12px;
        font-weight: 500;
        color: var(--gray-600);
        pointer-events: none;
        transition: 0.5s;
        white-space: nowrap;
    
        &--hide {
            top: 50%;
            transform: translateY(-50%);
            color: transparent;
            background-color: transparent;
        }
    }
}