.layout-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-start {
        display: flex;
        align-items: center;

        img {
            width: 4.5rem;
            height: 2.3rem;
        }

        .app-name {
            margin-left: .75rem;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
}
